@import "tailwindcss";

#root {
  height: 100vh;
  width: 100%;
  /* background-color: black; */
}

@font-face {
  font-family: lau1;
  src: url("src/assets/Lausanne-300.woff2");
}

@font-face {
  font-family: lau2;
  src: url("src/assets/Lausanne-500.woff2");
}